<h1>Todos los Tickets</h1>
<%=form_tag "/", method: "get" do%>
  <%= label_tag "filtro" %>
  <%= select_tag "filtro", options_for_select([["Sin Asignar",0],["Asignado",1],["Finalizado",2]]) %>
  <%= button_tag "Filtrar"%>
<%end%>
<%@tickets.each do |ticket|%>
  <table class="table">
    <tr>
      <th>Titulo</th><td><%=link_to ticket.title, ticket_path(ticket)%></td>
    </tr>
    <tr>
      <th>Estado</th><td><%=status_name ticket.status%></td>
    </tr>
    <tr>
      <th>Creador</th><td> <img src="<%= ticket.user.avatar.url :thumb %>" width="30"> <%=ticket.user.name%></td>
    </tr>
    <tr>
      <th>Tomado por</th><td><%= ticket.assigned_user_name  %></td>
    </tr>
    <tr>

    </tr>
  </table>
<%end%>
